<div class="section" >
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<% @user.most_recent_posts.each_with_index do |post, index| %>
  <div class="section" >
    <h3>#<%= index + 1 %>: <%= post.title %></h3>
    <p><%= post.text %></p>
  </div>
<% end %>

